
    
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 25px;
    margin: 100px;
}
.header{
    height: 50px;
    display: inline-block;
    padding: 25px;
    /* margin: 100px; */
}
#box1{
    background-image: url("AI.jpg");
    background-size: cover;
  
}
