body{
    text-align: center;
    background-color: rgb(43, 73, 73);
}
    
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container:hover{
    width: 800px;
    height: 200px;
    display: flexbox;
  
}

h1{
   background-color: blue; 
   width: 300px;
   position:relative;
   left: 550px;
}
